################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeEnrolment/bin
/EmployeeEnrolment/obj
/EmployeeEnrolment/.vs
